{% extends 'modal_base.html' %}
{% block modal_content %}
{% include "modals/sensors/sensor_tresholds.html" with low_alarm=form.low_alarm low_warn=form.low_warning high_warn=form.high_warning high_alarm=form.high_alarm %}
{% include "modals/sensors/sensor_active.html" with title="AIRFLOW" active=form.alarm_active_flow %}
{% include "modals/sensors/alarm_delay.html" %}
<br>
<!-- THIS SHOULD BE MOVED IN A SEPERATE TEMPLATE AS WELL -->
<!-- especially since it's used with other sensors! -->
<div class="row">
   <div class="col-sm-3 small text-nowrap">
      <label for="ach">AIRFLOW UNIT:</label>
   </div>
   <div class="col-sm-4 btn-group">
      <input type="hidden" id="id_metric" name="metric"></input>
      <button type="button" class="btn-sm btn-primary" id="achMetric" value="Metric" onclick="genericToggleUnit(true, 'flow', 'metric', '#achMetric', '#achIMP');">Metric</button>
      <button type="button" class="btn-sm btn-secondary" id="achIMP" value="" onclick="genericToggleUnit(false, 'flow', 'metric', '#achMetric', '#achIMP');">IMPERAL (CFM)</button>
   </div>
</div>
{% endblock %}