<div class="row text-center">
    <div class="col-sm-3 small text-nowrap">
       LOW ALARM
    </div>
    <div class="col-sm-3 small text-nowrap">
       LOW WARNING
    </div>
    <div class="col-sm-3 small text-nowrap">
       HIGH WARNING
    </div>
    <div class="col-sm-3 small text-nowrap">
       HIGH ALARM
    </div>
</div>
<div class="row  " id="demo">
        <div class="col-sm-3 ">
          {{low_alarm}}
       </div> 
        <div class="col-sm-3 ">
          {{low_warn}}
       </div> 
        <div class="col-sm-3 ">
          {{high_warn}}
       </div> 
        <div class="col-sm-3 ">
          {{high_alarm}}
       </div> 
</div>