{% extends 'modal_base.html' %}
{% load widget_tweaks %}
{% block modal_content %}
<div class="row form-group">
   <div class="col-sm-3 ">
      <label for="email">NETWORK NAME:</label>
   </div>
   <div class="col-sm-3">
      {{network_form.name|add_class:"form-control"}}
   </div>
</div>
<div class="row form-group">
   <div class="col-sm-3 ">
      <label for="email">NETWORK PASSWORD:</label>
   </div>
   <div class="col-sm-3">
      {{network_form.password|add_class:"form-control"}}
   </div>
</div>
{% endblock %}