
<div class="configure-{{name}}-modal modal fade my-modal" id="configure{{name|title}}Modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="text-center modal-title">{{header}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="configure-{{name}} modal-body">
                <br>
                <h5 class="text-center">ROOM PRESSURE SENSOR </h5>
                <p class="text-center text-danger"> WARNING: BEFORE CALBRATING THE SENSOR, TURN OFF ALL AIRFLOW IN THE DUCT</p>
                <div class="col-sm-4 offset-sm-4">
                    <button type="button" class="btn btn-primary  calibrateBtnPre" id="calibrateBtn" onclick="genericPOST('/main/set_press_average', '');"> RESET ZERO</button>
                </div>
                <br>
<div class="container">

  <div class="progress col-sm-6 offset-sm-3 text-center">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%">Calibrating...</div>
  </div>
</div>
<br>
  <div class="col-sm-6 offset-sm-3 alert alert-success alert-dismissible fade show d-none text-center" id="pressureCaliDone">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Calibration is done
  </div>
            </div>
        </div>
    </div>
</div>
