
<div class="configure-{{name}}-modal modal fade my-modal" id="configure{{name|title}}Modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="text-center modal-title">{{header}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="configure-{{name}} modal-body">
                <br>
<p>PRODUCT: AGIM</p>
<p>SERIAL NUMBER: 1.0</p>
<p>FIRMWARE: 1.0</p>
            </div>
        </div>
    </div>
</div>
