<div class="configure-{{name}}-modal modal fade my-modal" id="configure{{name|title}}Modal" role="dialog">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
      <form id="{{name}}Form" method="post" action="#">{% csrf_token %}
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header pt-reduced pb-reduced">
            <h6 class="text-center modal-title">{{header}}</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="configure-{{name}} modal-body">
            <br>
            <input type="hidden" id="id_{{hidden}}" name="{{hidden}}"></input>
            {% block modal_content %}{% endblock %}
         </div>
         <!-- Modal footer -->
         <div class="modal-footer">
            <input id="updateBtn" class="btn btn-primary" type="submit" value="Update" />
            <button type="button" class="btn btn-secondary" id="hideNegPos" data-dismiss="modal">Close</button>
         </div>
      </div>
      </form>
   </div>
</div>