<div class="modal" id="checkPasswordModal" role="dialog">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter Password</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label for="password_input">PASSWORD:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="password_input" class="ui-keyboard-input ui-widget-content ui-corner-all ui-autocomplete-input ui-keyboard-input-current" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="edit_btn btn btn-primary" id="checkPWDBtn" onclick="submitPassword();">Enter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
