{% extends 'base.html' %}
{% load static %}
{% block device_script %}
<script>
    // Check if the password is active on load and toggle button accodingly
    $(document).ready(function() {
        var password_state = '{{config.password.active}}';
        togglePassword(password_state == 'True');
    });

    // Toggle password active button layout on change and update that in db via POST 
    function togglePassword(state) {
        if (state == true) {
            toggleButtonLayout('#passwordOn', '#passwordOff', btnType = "btn-success");
            $("#passwordTitle").html("PASSWORD ENABLED");
        } else {
            toggleButtonLayout('#passwordOff', '#passwordOn', btnType = "btn-success");
            $("#passwordTitle").html("PASSWORD DISABLED");
        }
        $("#id_password_active").val(state);

        $.ajax({
            type: 'POST',
            url: '{% url "set_password_state" %}',
            data: {
                state: state,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
    }

    // If the password is turned off, the screen is locked first
    function passwordOff() {
        $("#checkPasswordModal").modal({
            backdrop: "static"
        });
        togglePassword(false);
    }

</script>
{% endblock  %}
{% block content %}
<!-- this should probably use the same password popup that is used for screen inactivity -->
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light  fixed-top bg-light">
        <a class="navbar-brand" href="/">Abatement Technologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
<br><br><br><br>
<!-- Begin page content -->
<a href='/' class='btn btn-primary btn-lg'>Back</a>
<div class="container">
    <h3 class="display-4 text-center" id="passwordTitle"></h3>
    <input type="hidden" id="id_password_active" name="password_active"></input>
    <div class="row">
    </div>
    <br>
    <div class="row form-group">
        <div class="col-sm-3 offset-sm-3">
            <button type="button" class="btn btn-secondary btn-block btn-lg p-3" id="passwordOff" onclick="passwordOff();"><img src="/static/UnlockIconWhiteSmall.png"></button>
        </div>
        <div class="col-sm-3 ">
            <button type="button" class="btn btn-success btn-block btn-lg p-3" id="passwordOn" onclick="togglePassword(true);"><img src="/static/LockIconWhiteSmall.png"></button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 offset-sm-5">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#changePass">
                Change Password
            </button>
        </div>
    </div>
    <!--  unlock Modal -->
    <div class="modal" id="unlockModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Enter Password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <label for="email">PASSWORD:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 offset-sm-5">
                            <button type="submit" class="btn btn-primary">Enter</button>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  changePass Modal-->
    <div class="modal" id="changePass">
        <div class="modal-dialog">
            <form method="post" action='{% url "reset_password" %}'>{% csrf_token %}
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Change Password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label for="email">OLD PASSWORD:</label>
                            </div>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" value=""> -->
                                {{reset_password_form.old_password}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5 ">
                                <label for="email">NEW PASSWORD:</label>
                            </div>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" value=""> -->
                                {{reset_password_form.new_password}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label for="email">CONFIRM PASSWORD:</label>
                            </div>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" value=""> -->
                                {{reset_password_form.confirm_password}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 offset-sm-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <!-- PASSWORD MODAL-->
</div>
{% endblock %}
